.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(198, 198, 198);
}
.card{
     background-color: white;
    border: 1px solid #dddd;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    height: 530px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border: 2px solid #007bff;
}
.card img {
     width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}
button {
